.section-home2{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 50px;
    font-family: 'Poppins', sans-serif;

  }

  .fetch-button{
    background-color: #1DB954;
}
