#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.nav-title{
  /* flex-wrap: wrap; */
border: green 5px solid;
justify-content: center;
display: flex;
background-color:black
}

.image-title{
  height: 40px;
  width: auto;
}

.navbar-title-icon{
margin-right: 100px;
color: white
}

.nav-link{
font-weight: bold;
color: #1DB954;
margin-right: 90px;
}


.search-bar {
  background-color: #1DB954;
  color: white;
  font-weight: bold;
}

/* Light Theme Styles */ */
.App.light {
  /* background-color: #ffffff; */
  color: #000000;  
}
/* Dark Theme Styles */
.App.dark {
  /* background-color: #121212; */
  color: #ffffff; 
} 

/* Light Theme Card Styles */
.tracks-container.light {
  background-color: #f9f9f9; 
  color: #000000; 
}

/* Dark Theme Card Styles */
.tracks-container.dark {
  background-color: #292929; 
  color: #ffffff; 
}

.theme-switch-container {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}

.theme-switch-icon {
  margin-right: 10px;
}

.theme-switch-text {
  cursor: pointer;
}
.form-control-dark {
  background-color: #343a40; /* adjust background color for dark theme */
  color: #ffffff; /* adjust text color for dark theme */
}

.form-control-light {
  background-color: #ffffff; /* adjust background color for light theme */
  color: #000000; /* adjust text color for light theme */
}
.dark .form-control::placeholder {
  color: #ffffff; /* placeholder text color for dark theme */
}

.title-homepage{
  margin-top: 30px;
}

.success-message{
  color: green;
}

.form-control-light::placeholder {
  color: black;
}

.form-control-dark::placeholder {
  color: white;
}
/* Add this to your CSS file */


